In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=';')
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

### Assign new columns & lamda function

In [4]:

df1 = df.assign(testcol1=lambda df: df.pH/2, testcol2=lambda df: df.pH/2)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1.695,1.695

### Modify a single column & apply function

In [5]:
# Apply function
def add_3(x):
   return x+3
df1.pH = df1.pH.apply(add_3)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,6.51,0.56,9.4,5,1.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,6.20,0.68,9.8,5,1.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,6.26,0.65,9.8,5,1.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,6.16,0.58,9.8,6,1.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,6.51,0.56,9.4,5,1.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,6.45,0.58,10.5,5,1.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,6.52,0.76,11.2,6,1.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,6.42,0.75,11.0,6,1.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,6.57,0.71,10.2,5,1.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,6.39,0.66,11.0,6,1.695,1.695

### Modify a multiple columns & apply function

In [6]:
df1[['pH','testcol1']] = df1[['pH','testcol1']].apply(add_3)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9.51,0.56,9.4,5,4.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,9.20,0.68,9.8,5,4.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,9.26,0.65,9.8,5,4.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9.16,0.58,9.8,6,4.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9.51,0.56,9.4,5,4.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,9.45,0.58,10.5,5,4.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,9.52,0.76,11.2,6,4.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9.42,0.75,11.0,6,4.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,9.57,0.71,10.2,5,4.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,9.39,0.66,11.0,6,4.695,1.695


### Modify a multiple columns & lambda function

In [7]:
df1[['pH','testcol1']] = df1[['pH','testcol1']].apply(lambda x : x+9000, axis=1)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,9004.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,9009.20,0.68,9.8,5,9004.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,9009.26,0.65,9.8,5,9004.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9009.16,0.58,9.8,6,9004.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,9004.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,9009.45,0.58,10.5,5,9004.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,9009.52,0.76,11.2,6,9004.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9009.42,0.75,11.0,6,9004.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,9009.57,0.71,10.2,5,9004.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,9009.39,0.66,11.0,6,9004.695,1.695

### Conditionally modify a column

In [8]:
df1.testcol2 = df1.testcol2.apply(lambda x : x + 100 if x > 9.2 else x-100)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,9004.755,-98.245
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,9009.20,0.68,9.8,5,9004.600,-98.400
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,9009.26,0.65,9.8,5,9004.630,-98.370
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9009.16,0.58,9.8,6,9004.580,-98.420
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,9004.755,-98.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,9009.45,0.58,10.5,5,9004.725,-98.275
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,9009.52,0.76,11.2,6,9004.760,-98.240
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9009.42,0.75,11.0,6,9004.710,-98.290
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,9009.57,0.71,10.2,5,9004.785,-98.215
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,9009.39,0.66,11.0,6,9004.695,-98.305

### Create a new column with List comprehension

In [9]:
df1['squared_density'] = [i**2 for i in df1['density']]
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2,squared_density
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,9004.755,-98.245,0.995605
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,9009.20,0.68,9.8,5,9004.600,-98.400,0.993610
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,9009.26,0.65,9.8,5,9004.630,-98.370,0.994009
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9009.16,0.58,9.8,6,9004.580,-98.420,0.996004
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,9004.755,-98.245,0.995605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,9009.45,0.58,10.5,5,9004.725,-98.275,0.989826
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,9009.52,0.76,11.2,6,9004.760,-98.240,0.990264
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9009.42,0.75,11.0,6,9004.710,-98.290,0.991498
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,9009.57,0.71,10.2,5,9004.785,-98.215,0.990961
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,9009.39,0.66,11.0,6,9004.695,-98.305,0.991000

###  Assign values on a subset of a column

In [10]:
df1.loc[df1.chlorides>0.075, 'pH'] = df1.loc[df1.chlorides>0.075, 'pH'] / 10
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2,squared_density
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,900.951,0.56,9.4,5,9004.755,-98.245,0.995605
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,900.920,0.68,9.8,5,9004.600,-98.400,0.993610
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,900.926,0.65,9.8,5,9004.630,-98.370,0.994009
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9009.160,0.58,9.8,6,9004.580,-98.420,0.996004
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,900.951,0.56,9.4,5,9004.755,-98.245,0.995605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,900.945,0.58,10.5,5,9004.725,-98.275,0.989826
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,9009.520,0.76,11.2,6,9004.760,-98.240,0.990264
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,900.942,0.75,11.0,6,9004.710,-98.290,0.991498
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,9009.570,0.71,10.2,5,9004.785,-98.215,0.990961
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,9009.390,0.66,11.0,6,9004.695,-98.305,0.991000